*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
}

#window{
    height: 95%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#window img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;    
}

#taskbar{
    height: 5%;
    width: 100%;
    background-color: #D8DDED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 10px; */
    padding-left: 45%;
    position: absolute;
}
#center{
    height: 100%;
    width: 180px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#center .icon{
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.9;
}
.icon:hover{
    background-color: #B0C4DE;
    cursor: pointer;
}
#center .icon img{
    height: 100%;
    width: 10%;
    width: auto;
    object-fit: contain;
}



#right{
  
    height: 100%;
    width: 190px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
    scale: 0.8;
}

#right .date{
    display: flex;
    flex-direction: column;
    width: 40%;
}


#menu{
    
    height: 300px;
    width: 500px;
    background-color: #E0E7F9;
    position: absolute;
    bottom: -1;
    left: 35%;
    transition: all 0.1s linear;
    
    padding-top:20px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /* justify-content: center; */
    /* position:absolute; */

}

.top{
    height: 30px;
    width: 90%;
    position: absolute;
    /* background-color: #0a66d8; */
}

.top input{
    height: 30px;
    width: 100%;
}

.top i{
    position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  
}

.top input {
  width: 100%;
  padding: 0px 00px 0px 20px; /* space for icon */
}

#menu .mid{
    /* padding: 0px 30px;i */
    height: 150px;
    margin-top:45px ;
    width: 90%;
    /* background-color: #777; */
    
}

.mid .top2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bottom2{
    margin-top:20px ;
    height: 80%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.bottom2 .icon2{
    height: 40px;
    width: 40px;
    /* background-color: red; */
}






#menu .bottom{
    margin-top: 15px;
    /* padding: 0px 30px; */
    height: 50px;
    width: 100%;
    position: relative;
    
    background-color: #B0C4DE;
}


#rightclick {
    position: absolute;
    display: none;
    min-width: 180px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 4px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
}

#rightclick .option {
    padding: 6px 14px;
    cursor: default;
    white-space: nowrap;
    transition: background 0.1s;
}


#rightclick .option:hover {
    background: #0a66d8;
    color: white;
}

#rightclick .sep {
    height: 1px;
    background: #e5e5e5;
    margin: 4px 0;
}


